/* generale */

.container{
    width: 80%;
    margin: 0 auto;
    height: 95vh;
    display: flex;
    /* debug */
    background-color: blue;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
span{
    vertical-align: middle;
}

/* sezione sfondo */
body{
    background-color: rgb(212, 212, 205);
}
.sfondo{
    width: 100%;
    background-color: rgb(76, 196, 186);
    height: 150px;
    padding: 25px;
}


/* sezione navigatoresx */

.navigatoresx{
    width: 100%;
    height: 75px;
    padding: 15px;
    /* debug */
    background-color: rgb(212, 212, 212);
    border-right: solid 2px gray;}


/* sezione navdx */
.navigatoredx{
    width: 100%;
    height: 75px;
    padding: 15px;
    background-color: rgb(212, 212, 212);
}

/* sezione main dx */
.messagistica{
    display: flex;
    float: left;
    width: 65%;
    height: 95vh;
    flex-direction: column;
    /* debug */
    background-color: rgb(187, 184, 187);
}

/* aside sx */
.profilisx{
    float: left;
    width: 35%;
    height: 95vh;
    /* debug */
    background-color: rgb(255, 255, 255);
}

.notifiche{
    width: 100%;
    height: 80px;
    padding: 20px;
    /* deug */
    background-color: rgb(121, 198, 234);
}
.campanella{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color:rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
}
#campana{
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: rgb(121, 198, 234);

}
.text{
 display: inline-block;
 vertical-align: middle;
}

.textdue{
    display: inline;
}

.form{
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    /* debug */
    background-color: rgb(255, 255, 255);

}

.imaginiprofilo{
    width: 55px;
    height: 55px;
    float: left;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
    /* debug */
}

.icone{
    float: right;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
i{
    margin: 6px;
    color: grey;
    font-size: 25px;
}

#contenitoriprofil{
    width: 100%;
    height: 70px;
    border-bottom: solid 2px grey;
    display: flex;
}
#dataora{
    width: auto;
    height: auto;
    float: right;
    margin-left: 180px;
}
/* main messaggi */
.chattattiva{
    width: 100%;
    height: 1408px;
    background-image: url(/img/2601039697d8c8c730ec09e78a8395e0.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

.scrivimessaggio{
    width: 100%;
    height: 165px;
    background-color: blue;
    align-content: flex-end;

}

.active{
 background-color: rgb(216, 216, 216);
}