<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- sezione di sfondo -->

    <div id="app" class="sfondo">

        <!-- sezione navigatore sx-->
        <div  class="container">


            <!-- asaide sx -->
            <aside class="profilisx">
                <nav class="navigatoresx">

                    <div class="imaginiprofilo">
                        <img src="img/avatar_io.jpg" alt="">
                    </div>
                    <div class="text">
                        <strong><span>Immagine profilo</span></strong> <br>
                    </div>
                    <div class="icone">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>

                    </div>

                </nav>

                <div class="notifiche">
                    <div class="campanella">
                        <i id="campana" class="fas fa-bell-slash"></i>
                    </div>
                    <div class="text">
                        <strong><span>Ricevi notifiche di nuovi messaggi</span></strong> <br>
                        <a href="#">attiva notifiche Descktop</a>
                    </div>
                </div>


                <div class="form">
                    <i class="fas fa-search"></i> <input id="cercaprof" type="text" placeholder="cerca o inizia una nuova chatt">
                </div>
                <!-- sezione profili -->
                <div class="" v-for="contact,i in contacts" id="contenitoriprofil" :key="i">
                    <div class="imaginiprofilo">
                        <img :src="contact.avatar" alt="">
                    </div>
                    <div class="text ">
                        <div class="textdue">
                            <strong><span>{{contact.name}}</span></strong> 
                        </div>
                        <div id="dataora">
                            <span>{{contact.messages[contact.messages.length-1].date}}</span>
                        </div> <br>
                        <div class="texttre">
                            <span>{{contact.messages[contact.messages.length-1].text}}</span>
                        </div>
                    </div>
                   
                </div>


            </aside>



            <!-- sezione nav dex -->
             <!-- sezione main con messaggi-->

            <main class="messagistica">
                <nav class="navigatoredx">
                    <div class="imaginiprofilo">
                        <img src="img/avatar_1.jpg" alt="">
                    </div>
                    <div class="text">
                        <strong><span>Antonio</span></strong> <br>
                        <span>Ultimo accesso oggi alle 10/11/2021 16:14:22</span>

                    </div>
                    <div class="icone">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>


                    </div>
                </nav>
                <section v-for="contact,i in contacts" class="chattattiva" :key="i">
                    <div :class="contact..messages[contact.length-1].status">
                        <div class="textdue">
                            {{contact.messages[contact.messages.length-1].text}}
                        </div>
                        <div id="dataoramessa">
                            {{contact.messages[contact.messages.length-1].date}}
                        </div>

                    </div>


                </section>

                <footer class="scrivimessaggio">

                    <div class="emoticon">
                        <i class="far fa-smile"></i>
                    </div>

                    <div class="inserisciTesto">
                    <input id="mex" type="text" placeholder="scrivi un messaggio">
                    </div>

                    <div class="micr">
                        <i class="fas fa-microphone"></i>
                    </div>
                    
                </footer>

                

            </main>

        </div>
        <!-- sezione inserisci messaggio -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/main.js"></script>
</body>

</html>

<!-- :class="contact.visibile ===  true ? 'chattattiva':''" -->